:root{
    --white: #FFFFFF;
    --dark: #2d3435;
    --light: #E9E3E6;
    --light_clear: #e9e3e6cc;
    --blue: #3891A6;
    --red: #AD343E;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Blinker', sans-serif;
    margin: 0;
}
/* header */
header{
    position: fixed;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
nav {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 75px 75px 75px 75px;
    font-size: 4rem;
    border-radius: 10px;
}
.nav_icon{
    display: inline;
    text-decoration: none;
    color: var(--dark);
    background-color: var(--light_clear);
    text-align: center;
    width: 4rem;
    margin-bottom: 0.25rem;
    transition: 0.35s;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
#home_label, #about_label, #work_label, #contact_label{
    width: 0;
    overflow: hidden;
    background-color: var(--light_clear);
    transition: 0.35s;
    white-space: nowrap;
    color: var(--dark);
    text-decoration: none;
    margin-bottom: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
/* Title Section */
#background_1{
    height: 100vh;
    background-image: url(/portfolio/images/white_brick.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#title{
    width: calc(100% - 75px);
    float: right;
    color: var(--dark);
}
#title_name{
    font-size: 10rem;
    margin: 0;
    padding: 10% 0 0 10%;
    background-color: var(--light);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
#title_info{
    font-size: 3rem;
    padding-left: 10%;
    background-color: var(--dark);
    color: var(--red);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
/* About Section */
#background_2{
    height: 100vh;
    background-image: url(/portfolio/images/dark_plaster.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#about{
    width: calc(100% - 75px);
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30% 70%;
    height: 100%;
}
#about h1 {
    width: 80%;
    margin: auto auto 0 auto;
    font-size: 5rem;
    text-align: center;
    background-color: var(--blue);
    color: var(--dark);
    text-decoration: underline;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 3px 3px 0px;
}
#about h2{
    width: 80%;
    margin: 5% auto auto auto;
    height: fit-content;
    background-color: var(--light_clear);
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 3px 3px 0px;
}
#profile_picture{
    max-width: 100%;
    width: 60%;
    margin: auto;
    grid-row: span 2;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.788) 0px 3px 3px 0px;
}
/* Work Section */
#background_3{
    height: 150vh;
    background-image: url(/portfolio/images/white_sand.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#work{
    width: calc(100% - 75px);
    float: right;
    color: var(--dark);
}
#work h1{
    font-size: 5rem;
    margin-left: 15%;
}
#work_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 70%;
    margin: auto;
    grid-gap: 4rem;
}
#work_grid a{
    max-width: 80%;
    margin: auto;
}
#work_grid img:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}
#work_grid img{
    max-width: 100%;
    transition: 0.25s;
}
#background_4{
    height: 100vh;
    background-image: url(/portfolio/images/chalkboard.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#contact{
    width: calc(100% - 75px);
    height: 100%;
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30% 70%;
}
#contact h1{
    width: 80%;
    margin: auto auto 0 auto;
    font-size: 5rem;
    text-align: center;
    background-color: var(--red);
    color: var(--dark);
    text-decoration: underline;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 3px 3px 0px;
}
#contact h2{
    width: 80%;
    margin: 2rem auto auto auto;
    grid-column: 1/2;
    background-color: var(--light_clear);
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 3px 3px 0px;
    height: fit-content;
}
form{
    display: grid;
    width: 80%;
    margin: auto;
    grid-column: 2;
    grid-row: 1/3;
}
form label{
    display: block;
    color: var(--light);
}
input, textarea{
    border: none;
    outline: none;
    padding: 0.75rem;
    font-size: 1.25rem;
    background-color: var(--light_clear);
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 3px 3px 0px;
    transition: box-shadow 0.25s;
    margin-bottom: 1rem;
}
textarea{
    resize: vertical;
    width: 97%;
}
input:hover, textarea:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

/* Medium Width */
@media only screen and (max-width: 1023px) {
    header{
        position: fixed;
        top: 0;
        transform: translate(0, 0);
        width: 100%;
    }
    nav{
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        font-size: 2rem;
        justify-items: center;
    }
    .nav_icon{
        display: none;
    }
    #home_label, #about_label, #work_label, #contact_label{
        width: fit-content;

    }
}

/* Small Width */
@media only screen and (max-width: 600px) {

}